* {
    font-family: Georgia, serif;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    padding: 20px;
}

ul {
    list-style-position: inside;
    padding: 20px;
}

ul .recipe {
    text-align: center;
    padding: 5px 0px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 500px;
    height: auto;
}

h2 {
    margin: 20px 0px 5px 5px;
    text-align: center;
}

h3 {
    margin: 15px 0px 0px 20px;
}

p {
    margin: 10px 0px 5px 15px;
}

ol {
    list-style-position: inside;
    padding: 20px;
}

ol li {
    padding: 5px;
}

.toc {
    margin: auto;
    width: 30%;
}

.content {
    margin: auto;
    width: 50%;
    padding: 20px;
    font-size: 1.1em;
}

.description {
    text-align: center;
    font-size: 20px;
    margin: 10px 10px 20px 10px;
}

.ingredients {
    border: 2px solid #0073CF;
    border-radius: 10px;
    margin: auto;
    width: 80%;
}

img {
    border: 0.5px solid gray;
    border-radius: 5px;
}